.col{
    -fx-alignment: CENTER;
    -fx-color: yellow;
    -fx-font-size: 18;
    -fx-border-color: Black;
    -fx-font-family:"Bauhaus 93";
}
.bg{
    -fx-background-color: LightGreen;
}
#table .table-cell{
    -fx-alignment: CENTER;
    -fx-background-color: LightGoldenRodYellow;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-border-color: black;
    -fx-border-style: dashed;
    -fx-border-width: 0.4;
    -fx-font-family: Arial;
}
.menu{
    -fx-color: LightBlue;
}